.container {
   // max-width: 120rem;         // Occupy 100% of the viewport width if max-width is less than 1200px.
   max-width: 100rem;         // Using 100rem as developing on a smaller late 2009 13" Macbook.
   margin: 8rem auto;         // Center the container within parent.
   background-color: var(--colour-grey-light-1);
   box-shadow: var(--shadow-dark);

   min-height: 50rem;         // Used for testing purposes as no content within container.
}

.header {
   font-size: 1.4rem;
   height: 7rem;
   background-color: #fff;
   border-bottom: var(--colour-grey-light-2);

   display: flex;
   justify-content: space-between;
   align-items: center;
}

.content {
   display: flex;
}

.sidebar {
   background-color: var(--colour-grey-dark-1);

   flex: 0 0 18%;

   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.hotel-view {
   background-color: #fff;

   flex: 1;

   // TEST PROPERTIES TO DELETE LATER
   background-color: orangered;
   height: 80rem;
}